.hamburger {
  display: none;
}

@media screen and (max-width: 640px) {
  .hamburger {
    position: absolute;
    z-index: 1;
    top: -70px;
    left: 10px;
    display: inline-block;
    color: #fff;
    width: 30px;
    height: 30px;
  }
}
