.hometext {
  font-family: "IM Fell English", serif;
  font-size: 29pt;
  font-size: 2.4vw;
}

.homecaps {
  text-transform: uppercase;
  font-size: 70%;
}

.homeitalic {
  font-style: italic;
}

.home section {
  align-self: flex-end;
}

.home article {
  width: 75%;
  margin: auto;
}

.home p {
  text-align: inherit;
}

.page.home {
  padding-top: 140px;
}

@media screen and (min-width: 1366px) {
  .hometext {
    font-size: 33px;
  }
}
