.menulist {
  padding: 5px 0;
}

.menuitem {
  text-decoration: none;
  padding: 0px 10px;
  border: solid 1px #ccc;
  border-width: 0 1px 0 1px;
}

.menuitem:first-child {
  border-left: 0px;
}

.menuitem:last-child {
  border-right: 0px;
}

@media screen and (max-width: 640px) {
  nav {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  .menulist {
    position: absolute;
    background-color: #282c34;
    padding: 0px 20px;
    top: 0px;
    left: 0px;
    right: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .menulist.visible {
    max-height: 250px;
  }

  .menuitem {
    border: none;
    display: block;
    text-align: center;
    color: #fff;
    border-top: solid 1px #666;
    padding: 5px 0;
  }
}
