.page {
  height: 100%;
  padding-top: 140px;
  box-sizing: border-box;
}

section {
  height: 100%;
  flex-basis: 100%;
}

article {
  height: 100%;
}

.centraliser {
  margin: 0 auto 0;
  max-width: calc(1366px * 0.75);
  min-width: 320px;
  width: 75%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
